<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <a href="javascript:window.history.go(-1)">Back</a>
    <form action="/update_piechart" method="POST">
        <div>
            <label for="user">user:</label>
            <input type="text" id="user" name="user">
        </div>
        <div>
            <label for="category">category:</label>
            <input type="text" id="category" name="category">
        </div>
        <div>
            <label for="value">Value:</label>
            <input type="number" id="value" name="value">
        </div>
        <button type="submit">Add Data</button>
    </form>
    <div>
        {{ chart_html|safe }}
    </div>
</body>
</html>